@font-face {
  font-family: 'MyFont';
  src: local('Tuno'), url(/Users/Lawford/Library/Fonts/Tuno.ttf) format('ttf');
}

:root {
    --black:#302c2e;
    --red:#e6482e;
    --blue:#3978a8;
    --lightBlue:#28ccdf;
    --iceBlue:#8aebf1;
    --yellow:#f4b41b;

}


.App {
  height: 100vh;
  overflow: hidden;
}


.landing-title{
  display: flex;
  text-align: left;
  font-family: 'Tuno';
  color: var(--black);
  width: 90%;
  margin-left: 5%;
}

.nav-flex-container{
  display: flex;
  flex-direction: column;
  margin-top: 8%;
  margin-left: 5%;
}

.logo-flex-container{
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  margin-left: 5%;
}

.hex-logo{
  display: flex;
  height: 8%;
  width: 8%;
  z-index: 2;
  animation: hex-logo-spin 15s linear infinite;
}


.hex-logo-orbit{
  display: flex;
  height: 2%;
  margin-top: -6%;
  margin-left: 3%;
  width: 2%;
  z-index: 2;
  animation: myOrbit 15s linear infinite;
}

.about-menu{
  display: flex;
  text-align: left;
  opacity: 0;
  font-family: 'Tuno';
  font-size: 28px;
  color: white;
  animation-name: main-text-fade-in;
  animation-duration: 1s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  z-index: 2;
  transition: all 0.2s ease-in
}

.about-menu:hover{
  font-size: 30px;
  color: var(--red);
}

.projects-menu:hover{
  font-size: 30px;
  color: var(--yellow);
}

.contact-menu:hover{
  font-size: 30px;
  color: var(--blue);
}

.projects-menu{
  display: flex;
  text-align: left;
  opacity: 0;
  font-family: 'Tuno';
  font-size: 28px;
  color: white;
  animation-name: main-text-fade-in;
  animation-duration: 1s;
  animation-delay: 3.5s;
  animation-fill-mode: forwards;
  z-index: 2;
  transition: all 0.2s ease-in
}

.contact-menu{
  display: flex;
  text-align: left;
  opacity: 0;
  font-family: 'Tuno';
  font-size: 28px;
  color: white;
  animation-name: main-text-fade-in;
  animation-duration: 1s;
  animation-delay: 4s;
  animation-fill-mode: forwards;
  z-index: 2;
  transition: all 0.2s ease-in-out;
}

.gradient-bar{
  display: flex;
  width: 50%;
  height: 50%;
  background-color: var(--red);
  z-index: 3;
}

.orb{
  position: absolute;
  top: 100%;
  width: 200px;
  height: 200px;
  background-color: black;
  border-radius: 50%;
  animation-name: orb-move;
  animation-duration: 0.5s;
  animation-delay: 1.25s;
  animation-fill-mode: forwards;
  z-index: 1;
  margin-left: 42%;
  margin-top: 22%;
}

.orb2{
  position: absolute;
  opacity: 0;
  width: 200px;
  height: 200px;
  top: 0%;
  background-color: black;
  border-radius: 50%;
  animation-name: orb-explosion;
  animation-duration: 0.5s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  z-index: 1;
  margin-left: 42%;
  margin-top: 22%;
}

.title-fade-in{
  display: flex;
  text-align: left;
  opacity: 0;
  font-family: 'Tuno';
  font-size: 64px;
  color: white;
  animation-name: main-text-fade-in;
  animation-duration: 1s;
  animation-delay: 2.5s;
  animation-fill-mode: forwards;
  z-index: 2
}

.title-fade-in-2{
  display: flex;
  text-align: left;
  opacity: 0;
  font-family: 'Tuno';
  font-size: 64px;
  color: white;
  animation-name: main-text-fade-in;
  animation-duration: 1s;
  animation-delay: 5s;
  animation-fill-mode: forwards;
  z-index: 2
}

.title-fade-in-3{
  display: flex;
  text-align: left;
  opacity: 0;
  font-family: 'Tuno';
  font-size: 64px;
  color: white;
  animation-name: main-text-fade-in;
  animation-duration: 1s;
  animation-delay: 6s;
  animation-fill-mode: forwards;
  z-index: 2
}

.flex-title-container{
  display: flex;
  flex-direction: column;
  margin-left: 25%;
  margin-top: -17%;
}

.flex-box{
  display: flex;
  flex-direction: row;
}

@keyframes hex-logo-spin{
    from {transform: rotate(0deg);}
    to   {transform: rotate(360deg);}
}

@keyframes main-text-fade-in{
    from    {opacity: 0}
    to {opacity: 1}
}

@keyframes orb-explosion{
    0%   {opacity: 1;}
    100%{width: 100%; height: 100%; border-radius: 0%; margin-left: 0; margin-top: 0;opacity: 1;}
}

@keyframes orb-move{
    0%   {}
    100%{top:0%;}
}

@keyframes to-black{
    0%   {fill: #000000}
    100%{fill:#ffffff;}
}

@keyframes landing-bg-slide {
    0%   {width: 0%;}
    100%{width: 90%;}
}

@keyframes landing-bg-slide-2 {
    0%   {width: 90%;}
    100%{width: 90%; height: 90%;}
}

@-webkit-keyframes myOrbit {
    from { -webkit-transform: rotate(0deg) translateX(380%) rotate(0deg); }
    to   { -webkit-transform: rotate(360deg) translateX(380%) rotate(-360deg); }
}

@-moz-keyframes myOrbit {
    from { -moz-transform: rotate(0deg) translateX(380%) rotate(0deg); }
    to   { -moz-transform: rotate(360deg) translateX(380%) rotate(-360deg); }
}

@-o-keyframes myOrbit {
    from { -o-transform: rotate(0deg) translateX(380%) rotate(0deg); }
    to   { -o-transform: rotate(360deg) translateX(380%) rotate(-360deg); }
}

@keyframes myOrbit {
    from { transform: rotate(0deg) translateX(380%) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(380%) rotate(-360deg); }
}
